<!-- history workout entry section -->
<!-- entryOutput comes from history.ejs -->
<div class="workoutSubEntry">
  
  <div class="row">
    <label for="muscleGroup" class="col4 histLook">Muscle Group:&nbsp;</label> 
    <input type="text" name="muscleGroup" class="col3 histElt" value="<%= entryOutput.muscleGroup[counter] %>" readonly>
    
    <label for="activity" class="col2 histLook">Activity:&nbsp;</label>
    <input type="text" name="activity" class="col3 histElt" value="<%= entryOutput.activity[counter] %>" readonly>
  </div>

  <div class="row">
    <label for="weight" class="col3 histLook">Weight(lbs):&nbsp;</label>
    <input class="col2 histElt" value="<%= entryOutput.weight[counter] %>" name="weight" readonly>

    <label for="sets" class="col1_5 histLook">Sets:&nbsp;</label>
    <input class="col2 histElt" value="<%= entryOutput.sets[counter] %>" name="sets" readonly>

    <label for="reps" class="col1_5 histLook">Reps:&nbsp;</label>
    <input class="col2 histElt" value="<%= entryOutput.reps[counter] %>" name="reps" readonly>
  </div>

  <!-- comments are hidden if no value is stored -->
  <div 
  <% if(entryOutput.comments[counter].length) { %> 
    class="row">
  <% } else { %> 
    class="row hidden">
  <% } %> 
    <label for="comments" class="col3 histLook">Comments:</label>
    <textarea name="comments" rows="2" class="col9 histElt"><%= entryOutput.comments[counter] %></textarea>
  </div>

  <hr class="hidden">
  <!-- a more or less buttons section under a line -->
  <div class="row hidden">
    <button class="more col6" type="button" onclick="moreEntries(event.target)">+☟</button>
    <button class="more col6 hidden" type="button" onclick="lessEntries(event.target)">-☝</button>
  </div>

</div>